---
import Layout from '../layouts/Layout.astro';
import RamComputerHeroSection from '../components/RamComputerHeroSection.svelte';
---

<Layout title="Welcome to Astro.">
	<main class="h-auto bg-slate-950 px-5">
		<div class="flex items-center justify-center h-screen bg-slate-950">
			<RamComputerHeroSection client:load />
		</div>
	</main>
</Layout>
