---
import Layout from '../layouts/Layout.astro';
import RamComputerHeroSection from '../components/RamComputerHeroSection.svelte';
---

<Layout title="Welcome to Astro.">
	<main class="h-full">
		<div class="flex items-center justify-center h-full bg-slate-950">
			<RamComputerHeroSection client:load />
		</div>
	</main>
</Layout>
