---
const { link } = Astro.props;
---

<div class="relative w-32 h-32 me-6 mb-6">
    <img
        class="absolute z-10 -bottom-6 -right-6 h-1/2"
        alt="Ram display."
        src="/ram_display_l.svg"
    />
    <a
        class="flex justify-center p-2 items-center w-full h-full bg-slate-100 rounded-lg border-black border-2 transition-all hover:shadow-lg hover:-translate-y-2"
        href={link}
    >
        <slot />
    </a>
</div>
